#sideNav {
    .navbar-nav .nav-item .nav-link {
        font-weight: 800;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }
}

@media (min-width: 992px) {
    #sideNav {
        display: flex;

        top: 0;
        left: 0;
        width: $sidebar-base-width;
        height: 100vh;
    }
}