section.resume-section {
    max-width: 75rem;
    padding-top: 7.5vh;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }
}

.date-item {
    min-width: 17rem;
}